h2{
    color: var(--mz-text);
}
.mz-img-back{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
/* -------- introduction -------- */
.mz-top-ex{
    background-image: url(../images/portfolio.jpg);
}
/* -------- example -------- */
.mz-example{
    background-color: var(--mz-filter-bg-color);
}
.mz-example-1{
    background-image: url(../images/radin\ main.png);
    height: 500px;
}
.mz-example-2{
    background-image: url(../images/portfolio/2.jpg);
    height: 500px;
}
.mz-example-3{
    background-image: url(../images/tonekabon/main.png);
    height: 500px;
}
.mz-example-4{
    background-image: url(../images/archi\ back.png);
    height: 500px;
}
.mz-example-5{
    background-image: url(../images/ramsar/main.png);
    height: 500px;
}
.mz-example-6{
    background-image: url(../images/BARSGAR/MAIN.jpg);
    height: 500px;
}
.mz-example-7{
    background-image: url(../images/ENTRANCE/MAIN.jpg);
    height: 500px;
}
.container .row h3{
    color: var(--mz-text);
}

.mz-hback{
    height: 500px;
    background-color: var(--mz-dark-filter);
    width: 30px;
    position: relative;
}
.mz-l-col {
    background-color: var(--mz-dark-filter);
}
.mz-m-col {
    background-color: var(--mz-Vdark-filter);
}
.mz-m-col h4{
    color: var(--mz-text);
}
.mz-m-col a{
    color: var(--mz-text);
}
.mz-hback h5{
    color: var(--mz-text);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: 100%;
    position: absolute;
    left: -14px;
    bottom: 10px;
    font-size: 0.8rem !important
}
.mz-m-col>h5{
    color: var(--mz-text);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: 100%;
    position: absolute;
    left: -14px;
    bottom: 30px;
    font-size: 0.8rem !important
}
.mz-m-col>i{
    color: var(--mz-text);
    font-size: 10px;
    writing-mode: vertical-rl;
    transform: rotate(270deg);
    height: 100%;
    position: absolute;
    left: 255px;
    bottom: -230px;
}
.mz-r-col{
    flex-direction: row-reverse;
}
